<div id="TMS_TestCampaignExecution_ContentRegion" class="eaTM-TestCampaignExecutionContentRegion eb-animatedPage">
    <div class="eaTM-TestCampaignExecutionContentRegion-details"></div>
    <div class="eaTM-TestCampaignExecutionContentRegion-slidingPanels">
        <div class="eaTM-TestCampaignExecutionContentRegion-filterPanel">
            <div class="eaTM-TestCampaignExecutionContentRegion-filterContent"></div>
        </div>
        <div class="eaTM-TestCampaignExecutionContentRegion-settingsPanel">
            <h2 class="eaTM-TestCampaignExecutionContentRegion-settingsHeader">Settings</h2>
            <div class="eaTM-TestCampaignExecutionContentRegion-settingsContent"></div>
        </div>
        <div class="eaTM-TestCampaignExecutionContentRegion-testCasesPanel">
            <div class="ebLayout-SectionHeading">
                <h2 class="eaTM-TestCampaignExecutionContentRegionHelp-header">Test Cases<span class="eaTM-TestCampaignExecutionContentRegion-totalCount"></span></h2>
                <div class="ebLayout-HeadingCommands eaTM-TestCampaignExecutionContentRegionHelp-export">
                    <div class="ebLayout-HeadingCommands-block">
                        <div class="eaTM-Results-addToTestCampaignLinkHolder"></div>
                        <a href="#" class="eaTM-TestCampaignExecutionContentRegion-exportButton">
                            <i class="ebIcon ebIcon_medium ebIcon_export" title="Export"></i>
                            <span class="eaTM-TestCampaignExecutionContentRegion-exportLinkText">Export View</span>
                        </a>
                        <a href="#" class="eaTM-TestCampaignExecutionContentRegion-exportAllButton">
                            <i class="ebIcon ebIcon_medium ebIcon_export" title="Export as CSV"></i>
                            <span class="eaTM-TestCampaignExecutionContentRegion-exportAllLinkText">Export All as CSV</span>
                        </a>
                        <a href="#" class="eaTM-TestCampaignExecutionContentRegion-gatexportAllButton">
                            <i class="ebIcon ebIcon_medium ebIcon_export" title="Export as GAT"></i>
                            <span class="eaTM-TestCampaignExecutionContentRegion-gatexportAllLinkText">Export All as GAT</span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="eaTM-TestCampaignExecutionContentRegion-buttonsHolder">
                <button class="eaTM-TestCampaignExecutionContentRegion-filterButton ebBtn ebBtn_color_green">
                    <i class="ebIcon ebIcon_middle ebIcon_advancedSearchWhite"></i>
                    <span>Advanced Search</span>
                </button>
                <button class="eaTM-TestCampaignExecutionContentRegion-hideButton ebBtn ebBtn_color_green">
                    <i class="ebIcon ebIcon_leftArrowLarge"></i>
                    <span>Hide Search</span>
                </button>
                <button class="eaTM-TestCampaignExecutionContentRegion-settingsButton ebBtn">
                    <i class="ebIcon  ebIcon_settings "></i>
                    <span>Settings</span>
                </button>
                <button class="eaTM-TestCampaignExecutionContentRegion-hideSettingsButton ebBtn">
                    <i class="ebIcon  ebIcon_leftArrowLarge"></i>
                    <span>Hide Settings</span>
                </button>
                <button id="TMS_TestCampaignExecution_TestCampaignExecutionContentRegion-executeMultipleButton" class="ebBtn eaTM-TestCampaignExecutionContentRegion-executeMultipleButton">
                    <i class="ebIcon ebIcon_multiSelect"></i>
                    <span>Execute Multiple</span>
                </button>
                <div class="eaTM-TestCampaignExecutionContentRegion-stackedProgressBarHolder"></div>
            </div>
            <div class="eaTM-TestCampaignExecutionContentRegion-testCasesTable"></div>
        </div>
        <div class="eaTM-TestCampaignExecutionContentRegion-runsPanel">
            <div class="eaTM-TestCampaignExecutionContentRegion-runsPanelContent">
                <h2>Test Executions</h2>
                <div id="TMS_TestCampaignExecution_TestExecutions" class="eaTM-TestCampaignExecutionContentRegion-testExecutions"></div>
            </div>
        </div>
    </div>
</div>
