<div class="eaTM-RequirementsTreeWidget">
    <div class="ebLayout-Section">
        <h2 class="eaTM-RequirementsTreeWidgetHelp-header">Requirements Tree</h2>
    </div>
    <div class="eaTM-RequirementsTreeWidget-filterBlock">
        <div class="eaTM-RequirementsTreeWidget-filterInputHolder">
            <input type="text" id="TMS_Requirements_RequirementsTreeWidget-filterInput" class="ebInput ebInput_width_fullBlock eaTM-RequirementsTreeWidget-filterInput" placeholder="Search by requirement ID"/>
            <span class="eaTM-RequirementsTreeWidget-filterIcon"></span>
            <span class="eaTM-RequirementsTreeWidget-filterClearIcon"></span>
        </div>
    </div>
    <div class="eaTM-RequirementsTreeWidget-emptyTreeResult"></div>
    <div id="TMS_Requirements_RequirementsTreeWidget-treeHolder" class="eaTM-RequirementsTreeWidget-treeHolder eb_scrollbar"></div>
</div>
