<div id="TMS_TestCampaignExecution_TestExecutionMultiSelectWidget" class="eaTM-TestExecutionMultiSelectWidget">
    <div class="eaTM-TestExecutionMultiSelectWidget-notificationHolder">
    </div>
    <div id="TMS_TestCampaignExecution_TestExecutionMultiSelectWidget-tableHolder" class="eaTM-TestExecutionMultiSelectWidget-tableHolder">
        <div class="ebLayout-SectionHeading">
            <h2>Test Cases</h2>
        </div>
    </div>
    <div class="eaTM-TestExecutionMultiSelectWidget-optionsHolder">
        <div id="TMS_TestCampaignExecution_TestExecutionMultiSelectWidget-resultHolder" class="ebText eaTM-TestExecutionMultiSelectWidget-resultHolder">
            <div class="ebLayout-SectionHeading">
                <h2>Result</h2>
            </div>
        </div>
        <div id="TMS_TestCampaignExecution_TestExecutionMultiSelectWidget-isoHolder" class="ebText eaTM-TestExecutionMultiSelectWidget-isoHolder">
            <div class="ebLayout-SectionHeading">
                <h2>ISO</h2>
            </div>
        </div>
        <div id="TMS_TestCampaignExecution_TestExecutionMultiSelectWidget-defectHolder" class="ebText eaTM-TestExecutionMultiSelectWidget-defectHolder">
            <div class="ebLayout-SectionHeading">
                <h2>Defect Ids</h2>
            </div>
        </div>
    </div>
    <div class="eaTM-TestExecutionMultiSelectWidget-controls">
        <button id="TMS_TestCampaignExecution_TestExecutionMultiSelectWidget-createButton" class="ebBtn ebBtn_color_green eaTM-TestExecutionMultiSelectWidget-createButton">
            <span>Save</span>
        </button>
        <button id="TMS_TestCampaignExecution_TestExecutionMultiSelectWidget-clearButton" class="ebBtn eaTM-TestExecutionMultiSelectWidget-clearButton">
            <span>Clear</span>
        </button>
    </div>
</div>
