<div id="TMS_Requirements_DetailsBlock" class="eaTM-DetailsBlock">
    <div class="ebLayout-Section">
        <h2 class="eaTM-DetailsBlockHelp-header" >Test Cases by Requirement</h2>
    </div>

    <div id="TMS_Requirements_DetailsBlock-requirementBlock" class="eaTM-DetailsBlock-requirementBlock">
        <div id="TMS_Requirements_DetailsBlock-requirementIdLink" class="eaTM-DetailsBlock-requirementIdLink"></div>
    </div>
    <div class="eaTM-DetailsBlock-details">
        <p id="TMS_Requirements_DetailsBlock-detailsInfo" class="eaTM-DetailsBlock-detailsInfo"></p>
        <div id="TMS_Requirements_DetailsBlock-tableBlock" class="eaTM-DetailsBlock-tableBlock"></div>
        <div id="TMS_Requirements_DetailsBlock-pagingBlock" class="eaTM-DetailsBlock-pagingBlock"></div>
    </div>
    <div id="TMS_Requirements_DetailsBlock-progressBlock" class="eaTM-DetailsBlock-progressBlock">
        <div class="ebLoader">
            <div class="ebLoader-Holder">
                <span class="ebLoader-Dots"></span>
            </div>
        </div>
    </div>
</div>
